@corDeFundo: #eb3b5a;
@fontePrincipal: Roboto, sans-serif;
@fonteDoTitulo: lobster,cursive;

body{
    background-color: @corDeFundo;
    font-family: @fontePrincipal;
    
}

h1{
    font-family: @fonteDoTitulo;
}